.button {
    border: solid 1px #d0d0d0;
    border-radius: 4px;
    padding: 8px 16px 8px 16px;
    outline: none;
    min-width: 120px;
    text-transform: uppercase;
    font-size: 11pt;
    letter-spacing: 2px;
    font-weight: normal;
}

.button:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    transform: translateY(-1px);
    transition: 0.2s;
}

.button:active {
    transform: translateY(1px);
}

.button-primary {
    color: #fff;
    background-color: #4a90e2;
}

.button-secondary {
    color: #2f2f2f;
    background-color: #fafafa;
}

.button-warning {
    color: #fff;
    background-color: #d56c79;
}

.search-field {
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    min-height: 28px;
}

.search-field img {
    align-self: center;
    margin-left: 8px;
    color: #666;
}

.search-field input {
    height: 24px;
    flex-grow: 1;
    align-self: center;
    margin-left: 4px;
    border: none;
    outline: none;
}

.search-field span {
    color: #666;
    align-self: center;
    margin-left: 4px;
    margin-right: 4px;
    line-height: 16px;
    padding: 4px;
}

.search-field button {
    color: #4a90e2;
    border: none;
    background-color: #fff;
    margin-left: 4px;
    cursor: pointer;
    outline: none;
}

.search-highlight {
    padding: 4px 0 4px 0;
    border-radius: 2px;
    background-color: #fcf8e3;
}